
	<label for="preg">Producto:</label>
	<input type="text" id="preg" name="producto[nombre]" value="<%= producto.nombre %>" placeholder="Nombre" required/> <p>

	<label for="resp">Precio:</label>
	<input type="text" id="resp" name="producto[precio]" value="<%= producto.precio %>" placeholder="Precio" required/> <p>

	<a href="/productos"><button type="button">Cancelar</button></a>

	<input type="submit" value="Salvar">