

<p>
  <form method="post" action="/productos/comprar">        
    <p>
      El producto selecionado es: <br>
       <%= producto.nombre %>
    </p>

    <p>
      <input type="submit" value="Comprar">
    </p>
  </form>
</p>
