
*                    { margin: 0; padding: 0; }

body                 { font: 16px Georgia, serif; 
                       color: white;
                     }

.page                 { margin: 2% auto; 
                        color: white;}

.main                 { border: 1px solid #999; 
                        padding: 1%;
                        margin-bottom: 1px;
                        color: black;
                        background: #eee;
                      }

.textBuscador {
    background-color: transparent;
    color: #0000FF;
    opacity: 0.5;
}                      

a                    { color: #00B7FF; }


section > div        { padding: 20px; 
					   text-align: center;}

header               { text-align: center;}
nav                  { text-align: center;}
section              { text-align: left;}
footer               { text-align: center;}

.right               {float: right;}

.github { color: black;
 		link { font-size: 15px }
 		visited { font-size: 15px }
 		hover { font-size: 25px }
 					
 		}


div.centraTabla{
text-align: center;
}

div.centraTabla table {
margin: 0 auto;
text-align: left;
}

nav a                { margin: 0px 10px 0px 0px;}

#flashinfo {
  width: 450px;
  border: 2px solid blue;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000; 
}

#flashinfo h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #00c;
    color: #ffffff; 
}

#flashinfo ul li {
    margin: 5px 5px 5px 15px;
    font-size: 12px;
    list-style: square; 
}


#flashsuccess {
  width: 450px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000; 
}

#flashsuccess h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #0c0;
}

#flashsuccess ul li {
    margin: 5px 5px 5px 15px;
    font-size: 12px;
    list-style: square; 
}

#flasherror {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000; 
}

#flasherror h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
}

#flasherror ul li {
    margin: 5px 5px 5px 15px;
    font-size: 12px;
    list-style: square;
}