

<h1>Hola</h1>

<p>EL precio a pagar es <strong><%= precio %> </strong></p>
<br/>
<p>Y el token es: <%= clientToken %></p>

<input type="button" name="miboton" id="miboton" value="Boton" onclick="miFuncion()" />

<canvas id="canvas" style="width:100px; height:100px; margin: 0 auto; padding: 1em 3em; "></canvas>

<!-- Los scripts Javascript van, generalmente, en el head -->
<script type="text/javascript">
  function miFuncion() {
    alert('Has hecho click en "miboton"');
    qrcodelib.toCanvas(document.getElementById('canvas'), 'hola',
     function (error) {
    if (error){ console.error(error)}
      else{
    console.log('success!');}
  })

  }
</script>



<script type="text/javascript">
  qrcodelib.toCanvas(document.getElementById('canvas'), 'Estamos generando el Pago', function (error) {
    if (error) console.error(error)
    console.log('success!');
  })
</script>
