<div>

        <form method="get" action="/generar" >      


			<label for="resp">Precio: <small>El precio recomendado es: <%= precio %></small></label>

			 <br />

        <input type="text" id="precio" name="precio" size="30" autocomplete="off" />
        	<br />
			<a href="/productos"><button type="button">Cancelar</button></a>
			<br />
			<input type="submit" value="Generar">

  		</form>
    </div>